
#divChiTietSanPham img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#divChiTietSanPham p{
    text-align: center;
}

#divChiTietSanPham .right-content{
    width: 30%;
    overflow: visible;
    margin: 20px 0;
}

#divChiTietSanPham .tableparameter{
    display: block;
    overflow: visible;
}

#divChiTietSanPham.parameter{
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
}

.parameter li{
    list-style: none;
    display: table;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 5px 0;
    font-weight: normal;
    font-size: 18px;
}

.parameter strong{
    font-size: 18px;
    font-weight: bold;
}
